* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    display: inline-block;
    background-color: rgba(0,139, 139,0.8);
    padding: 10px 15px;
    margin: 0;
    margin-bottom: 10px;
}